mixin bag(goods)
  .bag
    .bag__list
      each item in goods
        .bag__product
          button.bag__prod-del(type='button', aria-label='Удалить товар')
            +svg('bag__prod-del-icon', 'icon-cross', 11, 11)
          +picture('bag__prod-img', item.img, 33, 33)
          span.bag__prod-name= item.name
          span.bag__prod-weight #{String(item.weight).replace(/\./, ',')} кг х
          span.bag__prod-price #{item.price} руб.
          span.bag__prod-cost #{item.price * item.weight} руб.
    p.bag__cost Итого: #{goods.reduce((acc, prod) => acc + (prod.price * prod.weight), 0)} руб.
    a.bag__btn.main-btn(href="#") Оформить заказ
