-
  var sort = [
    {
      name: 'по популярности',
      checked: true,
      value: 'popularity',
    },
    {
      name: 'сначала недорогие',
      checked: false,
      value: 'cheap',
    },
    {
      name: 'сначала дорогие',
      checked: false,
      value: 'expensive',
    },
    {
      name: 'по жирности',
      checked: false,
      value: 'fat',
    },
  ]

  var fat = [
    {
      value: '0',
      label: '0%',
      checked: false,
    },
    {
      value: '10',
      label: 'до 10%',
      checked: true,
    },
    {
      value: '30',
      label: 'до 30%',
      checked: false,
    },
    {
      value: 'more_30',
      label: 'выше 30%',
      checked: false,
    },
  ]

  var composition = [
    {
      value: 'chocolate',
      label: 'шоколадные',
      checked: true,
    },
    {
      value: 'sugar',
      label: 'сахарные присыпки',
      checked: true,
    },
    {
      value: 'fruit',
      label: 'фрукты',
      checked: false,
    },
    {
      value: 'syrup',
      label: 'сиропы',
      checked: false,
    },
    {
      value: 'jam',
      label: 'джемы',
      checked: false,
    },
  ]

form.filters(action='https://echo.htmlacademy.ru', method='get')
  .filters__row
    fieldset.filters__fieldset
      legend.filters__title Сортировка:
      select.filters__select(name='filter_sort')
        each item in sort
          option(value=item.value, selected=item.checked)= item.name

    fieldset.filters__fieldset
      legend.filters__title.filters__title--price Цена: 100 ₽ – 500 ₽:
      .filters__group
        div(id='slider')
        input.filters__price.filters__price--min(type='number', name='filter_mix_price', min='50', max='700', value='100')
        input.filters__price.filters__price--max(type='number', name='filter_max_price', min='50', max='700', value='500')

    fieldset.filters__fieldset
      legend.filters__title Жирность:
      .filters__group
        each item in fat
          input.filters__radio.visually-hidden(id=`filter_fat_${item.value}`, type='radio', name='filter_fat', value=item.value, checked=item.checked)
          label.filters__label.filters__label--radio(for=`filter_fat_${item.value}`)
            +svg('filters__icon filters__icon--radio-on', 'icon-radio-actv', 24, 20)
            +svg('filters__icon filters__icon--radio-off', 'icon-radio', 20, 20)
            =item.label

  .filters__row
    fieldset.filters__fieldset
      legend.filters__title Наполнители:
      .filters__group
        each item in composition
          input.filters__check.visually-hidden(id=`filter_composition_${item.value}`, type='checkbox', name='filter_composition', value=item.value, checked=item.checked)
          label.filters__label.filters__label--check(for=`filter_composition_${item.value}`)
            +svg('filters__icon filters__icon--check-on', 'icon-checkbox-actv', 24, 20)
            +svg('filters__icon filters__icon--check-off', 'icon-checkbox', 20, 20)
            =item.label

    button.filters__btn(type="submit") Применить
